<div class="text-field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="text-field">
  <%= form.label :category_id %>
  <%= form.text_field :category_id %>
</div>


<div class="file-field">
  <%= form.label :photo %>
  <%= form.file_field :photo %>
</div>