<div class="container-fluid" id="info">
  <div class="row">
    <div class="col-md-2 col-lg-3" id="datetime">
       <!-- <p><%= @time %></p> -->

 <div><img src="/images/cullabicon2.png" id="brand-img"><span id="brand-font">ullab</span></div>


    </div>
    <div class="col-md-5 col-lg-5" id="greeting">
    <div class="clock"></div>
<!--   <% if @h > 03 && @h < 12 %>
          <p>Good Morning</p>
      <% elsif  @h >= 12 && @h < 18 %>
          <p>Good Afternoon</p>
      <% else %>
          <p>Good Evening</p>
      <% end %> -->
    </div>
    <div class="col-md-5 col-lg-4">
      <div id="weather"></div>
    </div>
  </div>
</div>




<div class="container-fluid" id="content" >
<% @events.each do |event| %>

    <div class="col-xs-8 col-sm-5 col-md-5 col-lg-5" id="event-card">
      <div class="row">
        <div class="col-xs-8 col-sm-5 col-md-5 col-lg-5" id="event-img">
         <% if event.category.name == "Food" %>
            <label id="cat"><p><i class="fa fa-cutlery" aria-hidden="true"></i> <%= event.category.name %></p></label>
        <% elsif event.category.name == "Sports" %>
           <label id="cat"><p><i class="fa fa-bicycle" aria-hidden="true"></i> <%= event.category.name %></p></label>
        <% elsif event.category.name == "Entertainment" %>
           <label id="cat"><p><i class="fa fa-television" aria-hidden="true"></i> <%= event.category.name %></p></label>
        <% elsif event.category.name == "Work" %>
            <label id="cat"><p><i class="fa fa-briefcase" aria-hidden="true"></i> <%= event.category.name %></p></label>
        <% elsif event.category.name == "Charity" %>
             <label id="cat"><p><i class="fa fa-user-o" aria-hidden="true"></i> <%= event.category.name %></p></label>
         <% elsif event.category.name == "Travel" %>
        <label id="cat"><p><i class="fa fa-car" aria-hidden="true"></i> <%= event.category.name %></p></label>

         <!--  <label id="cat"><p> <%= event.category.name %> </p></label> -->
<!--           <% if event.created_at > Date.today - 3 %>
          <label id="latest"><p>NEW EVENT! </p></label>
          <% end %> -->
          <% end %>
          <img src="<%= event.subcategory.photo.thumb.url %>" class="img-responsive">
          <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
              <div id="host-img">
                <img src="<%= event.host.avatar %>" class="img-circle">
                <!-- <img src="https://s-media-cache-ak0.<p></p>inimg.com/736x/b1/2f/38/b12f38e61e049a9a8a31db30902228eb.jpg" class="img-circle"> -->
                <div id="host-name"><p><%= event.host.fullname %></p></div>
              </div>
              <div id="calendar">
                  <span id="month"><p><%= event.event_time.strftime("%^b") %></p></span>
                  <span id="date"><p><%= event.event_time.strftime("%e") %></p></span>
              </div>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <div id="host-info">
              <!-- <p> <%= event.host.fullname %> has created a <%= event.name %> event</p> -->
                <p> <%= event.name %></p>
              </div>
            <div id="event-info">
              <div class="icon"><i class="fa fa-map-marker" aria-hidden="true" style="font-size:40px;color:#2e2e2e;margin-left: 10px;margin-top:3px;padding:5px;"></i><span id="event-place"><%= event.venue %></span></div>
              <div class="icon"><i class="fa fa-clock-o" aria-hidden="true" style="font-size:40px;color:#2e2e2e;margin-left: 4px;padding:5px;"></i><span id="event-time"><%= event.event_time.utc.strftime("%I:%M %p")%></span></div>
              <div class="icon"><i class="fa fa-users" aria-hidden="true" style="font-size:40px;color:#2e2e2e;margin-left: 2px;padding:5px;"></i><span id="event-guest"><%= event.guests.count + 1 %> </span></div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

</div>
