<div class="container-fluid" id="info">
  <div class="row">
    <div class="col-md-3 col-lg-4" id="datetime">
      <p><%= @time %></p>



    </div>
    <div class="col-md-4 col-lg-4" id="greeting">
      <% if @h > 03 && @h < 12 %>
          <p>Good Morning</p>
      <% elsif  @h >= 12 && @h < 18 %>
          <p>Good Afternoon</p>
      <% else %>
          <p>Good Evening</p>
      <% end %>
    </div>
    <div class="col-md-5 col-lg-4">
      <div id="weather"></div>
    </div>
  </div>
</div>


<div class="container-fluid" id="content" >
<% @events.each do |event| %>

    <div class="col-xs-8 col-sm-5 col-md-5 col-lg-5" id="event-card">
      <div class="row">
        <div class="col-xs-8 col-sm-5 col-md-5 col-lg-5" id="event-img">
          <label id="cat"><p> <%= event.category.name %> </p></label>
          <% if event.category.name == "foods" %>
          <label id="latest"><p> NEW EVENT!!!!!! </p></label>
          <% end %>
          <img src="http://wallpapers4screen.com/Uploads/29-1-2016/22412/thumb2-grain-coffee-macaroon-cakes-macaroni-sweets.jpg" class="img-responsive">
          <div class="row">
            <div class="col-sm-3 col-md-3" id="host-img">
              <img src="https://s-media-cache-ak0.pinimg.com/736x/8f/b0/77/8fb077e97b62cfab2a4dec108ac7112f.jpg" class="img-circle">
            </div>
            <div class="col-sm-8 col-md-8" id="host-info">
              <p> <%= event.host.fullname %> has created a <%= event.name %> event</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-md-3" id="calendar">
                <span id="month"><p><%= event.event_time.strftime("%^b") %></p></span>
                <span id="date"><p><%= event.event_time.strftime("%e") %></p></span>
            </div>
            <div class="col-sm-8 col-md-8" id="event-info">
                <p id="event-venue"> <%= event.venue %> </p>
                <p id="event-description"> <%= event.description%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

</div>


<article class="clock">
  <div class="hours-container">
    <div class="hours"></div>
  </div>
  <div class="minutes-container">
    <div class="minutes"></div>
  </div>
  <div class="seconds-container">
    <div class="seconds"></div>
  </div>
</article>
